/*clear defaults*/
p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: rgba(117, 132, 138, 0.63);
}
/* Link Styles */

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ff99ff;
}

/* Section Styles */

/* Body */

/* Header */

header {
  z-index: 1500 !important;
  background: url('../images/background.png') no-repeat top center ;
  background-color: rgba(117,132,138,0.97);
  background-blend-mode: lighten;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 10px;
}

.tag {
  grid-column: 2 / 6;
  grid-row: 2;
}
.profession {
  grid-column: 7 / 11;
  grid-row: 2;
}
.profile-image {
  margin: 20px;
  display: none;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

.tag {
  background-color: #efefef;
  display: block;
  color: black;
  margin: 2% 2% 10% 2%;
  padding: 14% 0%;
  border-radius: 5px;
}
.profession {
  background-color: #222;
  display: block;
  color: white;
  margin: 2% 2% 10% 2%;
  padding: 8% 0;

}


.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 0px;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
  color: white;
}
.nav a:hover {
  color: #ff99ff;
}


/* Main */
main p {
  line-height: 1em;
}

.middle, .card_websites {
  margin: 5% 5% 5% 5%;
  padding: 10px 20px 10px;
  width: 90%;
  max-width: 1250px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;

}

.flex {
  margin: 5% 5% 0% 5%;
  padding: 10px 20px 10px;
  max-width: 1250px;
  text-align: left;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;

}

.card {
  margin: 0% 2.5% 0% 2.5%;
  padding: 10px 20px 10px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;

}

.card_intro {
  margin: 250px 5% 0% 5%;
  padding: 10px 20px 10px;
  width: 90%;
  max-width: 1250px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.card_resume {
  margin: 250px 5% 0% 5%;
  padding: 10px 20px 10px;
  width: 90%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

h3 {
  color: maroon;
  letter-spacing: 0.5px;
  text-align: center;
}


.card-title {
  text-align: center;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%
}

.card:hover, .card_intro:hover, .card_websites:hover {
  border-color: #ff99ff;
}

ul.skills, .web {
  padding: 0;
  text-align: center;
}

.web li {
  border-radius: 6px;
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  width: 200px
}

.publications li {
  margin: 0 0 10px 0
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff99ff;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #6d4c9e;

}

.skills li:nth-child(odd) a {
  color: white;
}

.skills li:nth-child(even) a:hover {
  color: #6d4c9e;
}

.skills li:nth-child(odd) a:hover {
  color: #6d4c9e;
}

footer {
  position: sticky;
  width: 100%;
  min-height: 30px;
  padding:  0 ;
  margin: 0px 0px 20px 0px;
}

footer .copyright, footer .footnote {
  top: -10px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.udemy {
  background-image: url(../images/udemy-1-logo-svg-vector.svg);
}
a.linkedin {
  background-image: url(../images/Linkedin-03.svg);
}
a.github {
  background-image: url(../images/GitHub-Mark-64px.png);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}



/* Styles for larger screens */
@media screen and (min-width: 720px) {

  header {
    line-height: 1;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
  .profile-image {
    grid-column: 2;
    grid-row: 1 / 4;
  }
  .tag {
    grid-column: 3 / 5;
    grid-row: 2;
  }
  .profession {
    grid-column: 5 / 7;
    grid-row: 2;
  }
  .profile-image {
    margin: 20px;
    display: block;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }
  .profile-image:hover {
    transform: scale(1.2) rotate(360deg);
  }
  .tag {
    background-color: #efefef;
    display: block;
    color: black;
    margin: 2%;
    border-radius: 5px;
    padding: 2% 1%;
  }
  .profession {
    background-color: #222;
    display: block;
    color: white;
    margin: 2%;
    padding: 2% 1%;

  }
  header {
    max-height: 230px;
    max-width: 1250px;
  }

  .flex {
      display: flex;
      width: 90%
      max-width: 1250px;
      justify-content: space-around;
      margin: 20px auto;
  }

  .top, .middle {
      display: flex;
      width: 90%
      max-width: 1250px;
      justify-content: space-around;
      margin: 20px auto;
  }

  .card_intro {
    margin: 200px 5% 0% 5%;
    padding: 10px 20px 10px;
    width: 90%;
    max-width: 1250px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1250px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

}
