/*Name this external file gallery.css*/

#image{
    line-height:5;
		width: 90%;
    height: 50%;
		border:5px solid black;
		margin:0 auto;
    background-color: #8e68ff;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: cover;
    margin-bottom:25px;
    font-size: 150%;
}
.preview{
		width:20%;
		margin-left:10%;
		margin-bottom: 5%;
    border: 2px solid black;
}
img{
		width:90%;

}
